{% for intf in host['interfaces'] %}
{% if intf.tag is defined %}
interface vlan {{ intf.tag }}
{% else %}
interface {{ intf.name }}
{% endif %}
  description {{ intf.description }}
  ip address {{ intf.ip }} {{ intf.subnet }}
!
{% endfor %}
!
{% set vlan_lst = host.vlans | map(attribute="tag") | list %}
interface range {{ host.trunk.trunk.range }}
  description {{ host.trunk.trunk.description }}
  switchport trunk encapsulation {{ host.trunk.trunk.mode }}
  switchport mode trunk
  switchport nonegotiate
  switchport trunk allowed vlan {{ vlan_lst | join(',') }}
  mtu {{ host.trunk.trunk.mtu }}
!